Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AllowShortFunctionsOnASingleLine: None
SortIncludes: true
UseTab: Never
BreakBeforeBraces: Allman
Cpp11BracedListStyle: true
PointerAlignment: Right 